@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Allow changing font family via CMS */
  html {
    font-family: var(--font-family, "Inter", sans-serif);
  }

  /** Remove default styles from input[type=number] */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

@layer components {
  /** Typography components */
  .hero-title {
    font-family: "Instrument Serif", serif;
    font-size: 72px;
    line-height: 100%;
    letter-spacing: -0.01em;
  }

  .body {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
  }

  .body-large {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
  }

  .h1 {
    font-family: "Instrument Serif", serif;
    font-size: 56px;
    line-height: 100%;
  }

  .h2 {
    font-family: "Inter", sans-serif;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -0.04em;
  }

  .h3-serif {
    font-family: "Instrument Serif", serif;
    font-size: 32px;
    line-height: 100%;
  }

  .h4 {
    font-family: "Inter", sans-serif;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: -0.03em;
    font-weight: 500;
  }

  .eyebrow {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    line-height: 120%;
  }

  /** Prevent scroll when modal is open */
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }

  [data-dot].current div .dot {
    background-color: black;
  }
  [data-dot] div .dot {
    background-color: #e4e4e7;
  }
}

@layer utilities {
  /** Remove scrollbar from overflow-auto */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
